section {
  background-image: url(img/photo-1460602594182-8568137446ce.avif);
  color: white;
  background-repeat: repeat-x;
  text-align: center;
}
article {
  background-image: url(img/photo-1603398749947-87246022fbf9.avif);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
